openapi: 3.2.0
info:
  title: RSS.app Feed API
  version: '2026-09-22'
  description: 'GENERATED FROM DOCUMENTATION by API Evangelist on 2026-09-22: 7 operation(s) read from 8 public documentation page(s) (each operation names its page in x-source). This is not the provider''s published contract; RSS.app has published no machine-readable contract that the pipeline could find. Engine: local.'
  x-evidence-tiers:
    code-example: 0
    documentation: 7
    pages-with-code: 0
    pages-read: 8
  x-generated-from: documentation
  x-provenance: generated
  x-authored-by: API Evangelist
  x-generated: '2026-09-22'
  x-generator: generate-contract-from-docs.py
  x-engine: local
  x-sources:
  - https://rss.app/docs/api
  - https://rss.app/docs/api/webhooks
  - https://rss.app/docs/api/authentication
  - https://rss.app/docs/api/errors
  - https://rss.app/docs/api/pagination
  - https://rss.app/docs/api/feeds
  - https://rss.app/docs/api/feeds/create-by-url
  - https://rss.app/docs/api/feeds/create-by-keyword
servers:
- url: https://api.rss.app
tags:
- name: Feed
paths:
  /v1/feed:
    patch:
      operationId: patch_v1_feed
      tags:
      - Feed
      summary: Update Feed
      x-source: https://rss.app/docs/api/feeds/create-by-keyword
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchV1FeedRequest'
      responses:
        '200':
          description: Success (status as documented)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchV1FeedResponse'
      x-evidence:
        kind: documentation
components:
  schemas:
    PatchV1FeedResponse:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        source_url:
          type: string
        rss_feed_url:
          type: string
        description:
          type: string
        icon:
          type: string
        is_active:
          type: boolean
    PatchV1FeedRequest:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        icon:
          type: string
